body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square.alive {background-color: black;}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.nextgen {margin: 40px;}

.file-loader {text-align: center;}

.game {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}